@using CniVisual.Enums
<div class="row">
    <div class="col-4">
        <InfrastructureCard Title="Energy" Text="@EnergyLog" Disrupted="EnergyDisrupted" Image="images/energyinfr.jpg"></InfrastructureCard>
        <InfrastructureCard Title="Water" Text="@WaterLog" Disrupted="WaterDisrupted" Image="images/waterinfr.jpeg"></InfrastructureCard>
    </div>
  <div class="col-4">
        <InfrastructureCard Title="Transport" Text="@TransportLog" Disrupted="TransportDisrupted" Image="images/transportinfr.jpg"></InfrastructureCard>
        <InfrastructureCard Title="Communications" Text="@CommunicationsLog" Disrupted="CommunicationsDisrupted" Image="images/foodinfr.jpg"></InfrastructureCard>
  </div>  
    <div class="col-4">
        <InfrastructureCard Title="Food" Text="@FoodLog" Disrupted="FoodDisrupted" Image="images/foodinfr.jpg"></InfrastructureCard>
        <InfrastructureCard Title="Emergency Services" Text="@EmergencyServicesLog" Disrupted="EmergencyServicesDisrupted" Image="images/emergencyinfr.jpg"></InfrastructureCard>
    </div>
</div>

@code
{
    [Parameter]
    public DisruptionType DisruptionApplied { get; set; } 
    [Parameter]
    public EventCallback<bool> SimulationEnded { get; set; }
    public bool EnergyDisrupted { get; set; }
    public bool TransportDisrupted { get; set; }
    public bool WaterDisrupted { get; set; }
    public bool FoodDisrupted { get; set; }
    public bool CommunicationsDisrupted { get; set; }
    public bool EmergencyServicesDisrupted { get; set; }
    public string EnergyLog { get; set; }
    public string WaterLog { get; set; }
    public string CommunicationsLog { get; set; }
    public string EmergencyServicesLog { get; set; }
    public string FoodLog { get; set; }
    public string TransportLog { get; set; }
    protected override void OnInitialized()
    {
        CurrentSimulation = DisruptionApplied;
    }

    public DisruptionType CurrentSimulation { get; set; }

    protected override async void OnParametersSet()
    {
        if (DisruptionApplied != CurrentSimulation)
        {
            CurrentSimulation = DisruptionApplied;
            ResetLogs();
            EnergyDisrupted =  DisruptionApplied == DisruptionType.Energy;
            TransportDisrupted =  DisruptionApplied == DisruptionType.Transport;
            WaterDisrupted =  DisruptionApplied == DisruptionType.Water;
            FoodDisrupted = false;
            CommunicationsDisrupted = false;
            EmergencyServicesDisrupted = false;

            if (EnergyDisrupted)
                await InitiateEnergyDisruption();
            else
            {
                if (TransportDisrupted)
                    await InitiateTransportDisruption();
                else
                {
                    if (WaterDisrupted)
                        await InitiateWaterDisruption();
                }
            }
        }
    }

    private async Task InitiateWaterDisruption()
    {
        WaterLog= "An attack on multiple water distribution systems has caused an halt on their operation, most people and businesses are left with no access to running water";
        await Task.Delay(1500);
        EnergyDisrupted = true;
        EnergyLog = "Energy production came to an halt in various generation facilities because water used for cooling stopped flowing, this is causing blackouts in certain areas";
        CommunicationsDisrupted = true;
        CommunicationsLog = "Because of energy blackout some people are left with no internet or access to tv/radio";
        StateHasChanged();
        await Task.Delay(1500);
        TransportDisrupted = true;
        TransportLog = "Electric Vehicle are unable to run, public transport schedules are inaccessible online to most as well as disruption notices because of unreliable communication infrastructure";
        EmergencyServicesDisrupted = true;
        EmergencyServicesLog = "Because of disruption on communication services people are not able to get in touch with emergency services, hospitals had to stop surgical procedures due to the lack of water";
        StateHasChanged();
        await Task.Delay(1500);
        FoodDisrupted = true;
        FoodLog = "Some food outlets had to close because of the lack of water, panic buying of water has increased over the amount currently available in supermarkets/shops";
        StateHasChanged();
        await SimulationEnded.InvokeAsync(true);
    }

    private async Task InitiateTransportDisruption()
    {
        TransportLog = "A shortage on HGV drivers along with a series of strikes throughout the sector has determined a major disruption in the transportation infrastructure";
        await Task.Delay(1500);
        FoodDisrupted = true;
        FoodLog = "Disruption of the transportation system is making it difficult for goods to get to outlets and/or final customers. This is fueling panic buying making the situation worse";
        WaterDisrupted = true;
        WaterLog = "Businesses and individuals using a decentralised water system are struggling to get water delivered and/or waste water collected";
        StateHasChanged();
        await Task.Delay(1500);
        EmergencyServicesDisrupted = true;
        EmergencyServicesLog = "Hospitals are struggling to get medicines/food/equipment delivered and had to postpone some procedures. Emergency services are also being crippled by fuel shortages.";
        StateHasChanged();
        await Task.Delay(1500);
        EnergyDisrupted = true;
        EnergyLog = "Fuel/coal/gas used for energy production is not arriving, load shedding is being performed on some parts of the country";
        StateHasChanged();        
        await Task.Delay(1500);
        CommunicationsDisrupted = true;
        CommunicationsLog = "Because of load shedding some people are left with no internet or access to tv/radio for a few hours each day";
        StateHasChanged();
        await SimulationEnded.InvokeAsync(true);
    }

    private void ResetLogs()
    {
        EnergyLog = string.Empty;
        WaterLog = string.Empty;
        TransportLog = string.Empty;
        FoodLog = string.Empty;
        EmergencyServicesLog = string.Empty;
        CommunicationsLog = string.Empty;
    }

    private async Task InitiateEnergyDisruption()
    {
        EnergyLog = "Demand for energy supply too high for capacity, shutting down production to avoid disaster";
        await Task.Delay(1500);
        WaterDisrupted = true;
        WaterLog = "Electric pump for water treatment shut down because of blackout, unable to provide clean water";
        CommunicationsDisrupted = true;
        CommunicationsLog = "Because of energy blackout most people are left with no internet or access to tv/radio";
        StateHasChanged();
        await Task.Delay(1500);
        EmergencyServicesDisrupted = true;
        EmergencyServicesLog = "Because of disruption on communication services people are not able to get in touch with emergency services, hospitals had to stop surgical procedures due to the lack of treated water";
        TransportDisrupted = true;
        TransportLog = "Electric Vehicle are unable to run, public transport schedules are inaccessible online to most as well as disruption notices because of unreliable communication infrastructure";
        StateHasChanged();
        await Task.Delay(1500);
        FoodDisrupted = true;
        FoodLog = "Because of disruption on distribution of drinkable water and state of panic demand for food/water has increased over the amount currently available in supermarkets/shops, shops are unable to refrigerate goods because of lack of electricity";
        StateHasChanged();
        await SimulationEnded.InvokeAsync(true);
    }
}
